In [1]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from sim.db import *

2017-09-08 10:21:01,528 - sim - INFO - Reading mysql table i_reload_setting

In [2]:
table = load_from_mysql('i_queue_io')

2017-09-08 10:21:45,969 - sim - INFO - Reading mysql table i_queue_io

In [5]:
j_table = table[table.equipment_port_next.str.startswith('j')]

In [7]:
j_table.groupby('equipment_port_next')['equipment_port_last'].apply(set).apply(len)

equipment_port_next
j10_1     12
j11_1     12
j12_1     12
j13_1     12
j14_1     12
j15_1     12
j16_1     12
j17_1     12
j18_1     12
j19_1     12
j1_1      12
j20_1     12
j21_1     12
j22_1     12
j23_1     12
j24_1     12
j25_1     12
j26_1     12
j27_1     12
j28_1     12
j29_1     12
j2_1      12
j30_1     12
j31_1     12
j32_1     12
j33_1     12
j34_1     12
j35_1     12
j36_1     12
j37_1     12
j38_1     12
j39_1     12
j3_1      12
j40_1     12
j41_1    208
j4_1      12
j5_1      12
j6_1      12
j7_1      12
j8_1      12
j9_1      12
Name: equipment_port_last, dtype: int64

In [10]:
j_table

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,normal_path,inserted_on,modified_on
440,c5_1,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
441,c5_10,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
442,c5_100,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
443,c5_101,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
444,c5_102,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
445,c5_103,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
446,c5_104,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
447,c5_11,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
448,c5_12,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
449,c5_13,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
450,c5_14,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
451,c5_15,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
452,c5_16,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
453,c5_17,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
454,c5_18,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
455,c5_19,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
456,c5_2,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
457,c5_20,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
458,c5_21,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
459,c5_22,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
460,c5_23,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
461,c5_24,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
462,c5_25,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
463,c5_26,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
464,c5_27,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
465,c5_28,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
466,c5_29,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
467,c5_3,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
468,c5_30,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
469,c5_31,j41_1,j,c5_j41,170.04,None,Small,SE2,None,1,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
28896,m3_2,j1_1,j,m3_j1,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28897,m3_2,j20_1,j,m3_j20,322.54,OD,Parcel,SE1,None,1,NaT,NaT
28898,m3_2,j21_1,j,m3_j21,194.53,OD,Parcel,SE1,None,1,NaT,NaT
28899,m3_2,j22_1,j,m3_j22,322.54,OD,Parcel,SE1,None,1,NaT,NaT
28900,m3_2,j23_1,j,m3_j23,194.53,OD,Parcel,SE1,None,1,NaT,NaT
28901,m3_2,j24_1,j,m3_j24,322.54,OD,Parcel,SE1,None,1,NaT,NaT
28902,m3_2,j25_1,j,m3_j25,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28903,m3_2,j26_1,j,m3_j26,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28904,m3_2,j27_1,j,m3_j27,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28905,m3_2,j28_1,j,m3_j28,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28906,m3_2,j29_1,j,m3_j29,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28907,m3_2,j2_1,j,m3_j2,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28908,m3_2,j30_1,j,m3_j30,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28909,m3_2,j31_1,j,m3_j31,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28910,m3_2,j32_1,j,m3_j32,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28911,m3_2,j33_1,j,m3_j33,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28912,m3_2,j34_1,j,m3_j34,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28913,m3_2,j35_1,j,m3_j35,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28914,m3_2,j36_1,j,m3_j36,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28915,m3_2,j37_1,j,m3_j37,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28916,m3_2,j38_1,j,m3_j38,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28917,m3_2,j39_1,j,m3_j39,162.53,OD,Parcel,SE1,None,1,NaT,NaT
28918,m3_2,j3_1,j,m3_j3,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28919,m3_2,j40_1,j,m3_j40,352.14,OD,Parcel,SE1,None,1,NaT,NaT
28920,m3_2,j4_1,j,m3_j4,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28921,m3_2,j5_1,j,m3_j5,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28922,m3_2,j6_1,j,m3_j6,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28923,m3_2,j7_1,j,m3_j7,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28924,m3_2,j8_1,j,m3_j8,302.64,OD,Parcel,SE1,None,1,NaT,NaT
28925,m3_2,j9_1,j,m3_j9,194.53,OD,Parcel,SE1,None,1,NaT,NaT