In [4]:
import pandas as pd
import numpy as np
import pickle

In [5]:
def load_object(file_path):
    try:
        with open(file_path, "rb") as file:
            obj = pickle.load(file)
    except Exception as exc:
        obj = None
        print(exc)
    return obj

In [6]:
!ls ../data

i_container_capacity.csv      i_unload_setting.csv
i_equipment_io.csv            package_records.list
i_equipment_parameter.csv     parcel-path.csv
i_equipment_resource.csv      parcel-path.xlsx
i_od_parcel_landside.csv      pipeline_on_con_records.list
i_queue_io.csv                pipeline_on_wait_records.list
i_reload_setting.csv          truck_records.list
i_resource_limit.csv

In [7]:
pipeline_con_data = load_object('../data/pipeline_on_con_records.list')
pipeline_wait_data = load_object('../data/pipeline_on_wait_records.list')
truck_records = load_object('../data/truck_records.list')
package_records = load_object('../data/package_records.list')

In [19]:
table_trucks = pd.DataFrame.from_records(truck_records, 
    columns=['truck_id', 'start_wait', 'start_serve', 'end_serve', ])
table_packages = pd.DataFrame.from_records(package_records,
    columns=['package_id', 'start_wait', 'start_serve', 'end_serve', ])

In [20]:
table_trucks.head()

  truck_id  start_wait  start_serve  end_serve
0  truck_0           0          0.0       54.0
1  truck_2          10        354.0      408.0
2  truck_4          20        708.0      762.0
3  truck_6          30       1062.0     1116.0
4  truck_8          40       1416.0     1470.0

In [21]:
table_packages.head()

          package_id  start_wait  start_serve  end_serve
0  truck_0_package_0         0.0          0.0        3.6
1  truck_0_package_1         0.0          0.0        3.6
2  truck_0_package_2         0.0          3.6        7.2
3  truck_0_package_3         0.0          3.6        7.2
4  truck_0_package_4         0.0          7.2       10.8

In [22]:
pipeline_con_table = pd.DataFrame.from_records(pipeline_con_data)
pipeline_wait_table = pd.DataFrame.from_records(pipeline_wait_data)

In [23]:
pipeline_con_table.head()

   counts pipeline_id  timestamp
0       0        None          0
1       0        None          1
2       0        None          2
3       0        None          3
4       2        None          4

In [24]:
pipeline_wait_table.head()

   counts pipeline_id  timestamp
0       0        None          0
1       0        None          1
2       0        None          2
3       0        None          3
4       0        None          4

In [16]:
pipeline_wait_table[pipeline_wait_table.counts != 0]

       counts pipeline_id  timestamp
9           2        None          9
10          2        None         10
11          2        None         11
12          2        None         12
13          4        None         13
14          6        None         14
15          6        None         15
16          8        None         16
17          8        None         17
18         10        None         18
19         10        None         19
20         12        None         20
21         14        None         21
22         14        None         22
23         16        None         23
24         16        None         24
25         18        None         25
26         18        None         26
27         20        None         27
28         22        None         28
29         22        None         29
30         22        None         30
31         24        None         31
32         26        None         32
33         26        None         33
34         28        None         34
35         28        None         35
36         30        None         36
37         30        None         37
38         32        None         38
...       ...         ...        ...
17382    2970        None      17382
17383    2970        None      17383
17384    2972        None      17384
17385    2974        None      17385
17386    2974        None      17386
17387    2974        None      17387
17388    2976        None      17388
17389    2978        None      17389
17390    2978        None      17390
17391    2980        None      17391
17392    2980        None      17392
17393    2982        None      17393
17394    2982        None      17394
17395    2984        None      17395
17396    2986        None      17396
17397    2986        None      17397
17398    2988        None      17398
17399    2988        None      17399
17400    2990        None      17400
17401    2990        None      17401
17402    2992        None      17402
17403    2994        None      17403
17404    2994        None      17404
17405    2994        None      17405
17406    2996        None      17406
17407    2998        None      17407
17408    2998        None      17408
17409    2998        None      17409
17410    2998        None      17410
17411    3000        None      17411

[17403 rows x 3 columns]